<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karthickramjee.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
            android:name=".FontClass"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".SignClass"
            android:label="Sign Up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calculator"
            android:label="Calculator">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".StartMusic"
            android:label="Service"
            android:theme="@style/AppTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service
            android:name=".PlayMusic"
            android:enabled="true" />
        <service
            android:name=".StartToast"
            android:enabled="true" />

        <activity
            android:name=".ListApps"
            android:label="ApplicationInfo"
            android:parentActivityName=".ExerciseFour"
            android:theme="@style/AppTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <receiver android:name=".CustomIntent">
            <intent-filter>
                <action android:name="com.example.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ExerciseFour"
            android:label="Exercise-4"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutoSuggest"
            android:label="AutoSuggestion"
            android:parentActivityName=".ExerciseFour"
            android:theme="@style/AppTheme" />
        <activity android:name=".AudioControl"
            android:label="AudioControl"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>